@media (max-width: 760px) {
    .main-chat{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        padding-top: 2rem;
        flex-direction: column;
    }
    .chatbox{
        width: 100vw;
        margin-left: 0;
        padding: 8px;
        display: flex;
    }
    .show-chatbox{
        display: none;
        width: 0;
        height: 0;
    }
    .show-chatlist{
        display: none  ;
    }

    .back-arrow {
        display: inline-block !important;
        margin-right: 10px;
      }
    
}

@media (min-width: 760px) {
    .back-arrow {
      display: none !important;
    }
}